# Auto detect text files and perform LF normalization
* text=auto
C:/Users/akira.fujii/Documents/GitHub/DiscordWitUnity/discord-test-unity/Assets/Font/TextMeshPro/NotoSansJP-Medium filter=lfs diff=lfs merge=lfs -text
SDF filter=lfs diff=lfs merge=lfs -text
JP.asset filter=lfs diff=lfs merge=lfs -text
C:/Users/akira.fujii/Documents/GitHub/DiscordWitUnity/discord-test-unity/Assets/Font/TextMeshPro/NotoSansJP-Medium[[:space:]]SDF[[:space:]]JP.asset filter=lfs diff=lfs merge=lfs -text
discord-test-unity/Assets/Font/TextMeshPro/NotoSansJP-Medium[[:space:]]SDF[[:space:]]JP.asset filter=lfs diff=lfs merge=lfs -text
